<!DOCTYPE html>
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Blog</title>
	<meta name="description" content="">  
	<meta name="author" content="">






<!-- Header
================================================== -->
<header id="top">

    <div class="row">
        <div class="header-content twelve columns">
            <h1 id="logo-text"><a href="/" title="">adventura</a></h1>
            <p id="intro">Explore with me!! </p>

        </div>

    </div>
    <div class="row">
        {% block body %}{% endblock %}
        <!-- Main Body parts hold in each page  -->

        <h3> Categories </h3>
        <li><a href="#">Fashion</a> </li>
        <li> <a href="#">Beauty</a> </li>
        <li><a href="#">Food</a></li>
        <li> <a href="#">Travel</a></li>
        <li><a href="#">Decor</a></li>
        <li> <a href="#">Food </a></li>

        <ul class="social-links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>

        </ul>
    </div>



    <h3>About adventura</h3>
    <p> Welcome to my travel blog.I hope you enjoy it. </p>
<div class="pagenav">
    <p>
        <a rel="prev" href="#">Prev</a>
        <a rel="next" href="#">Next</a>
    </p>
</div>
